name: test

on:
  push:
    branches: [ main ]

jobs:
  # This workflow contains a single job called "build"
  depoly:
    runs-on: ubuntu-latest
    env: 
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # Runs a single command using the runners shell
      - uses: actions/checkout@v2
      - uses: ./
        with:
          who-to-mention: 'hello'